/* PARTIAL: FIXED SOCIALS
-------------------------------------------- */

.ptf-fixed-socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 15px;
	bottom: 0;
	padding: 100px 0;
	pointer-events: none;
	z-index: z('socials-fixed');

	@include mq('medium', min) {
		left: 40px;
	}

	@include admin-sticky-fix;

	.ptf-social-icon.ptf-social-icon--style-1 {
		font-size: 18px;
		line-height: 1;
		pointer-events: auto;

		&:hover {
			color: currentColor;
		}

	}

	.ptf-social-icon+.ptf-social-icon {
		margin-top: 30px;
	}

}