/* WORDPRESS: LINK PAGES
-------------------------------------------- */

.ptf-link-pages {
	margin-top: 45px;

	h5 {
		margin: 0 0 10px;
		font-weight: 500;
	}

	.sep {
		margin: 0 16px;
		color: lighten($c2, 10%);
	}

}