/* WORDPRESS: PASSWORD FORM
-------------------------------------------- */

.ptf-post-password-form {
	max-width: 400px;

	h4 {
		margin: 0 0 10px;
	}

	p {
		margin-bottom: 15px;
	}

	.ptf-form-group {

		button {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 15px;
			color: var(--ptf-primary-color);
			border: none;
			background: none;
			cursor: pointer;
		}

	}

}