/* LAYOUT: FOOTER
-------------------------------------------- */

.ptf-footer {
	width: 100%;
}

.ptf-footer {
	display: flex;
	justify-content: space-between;
	padding: 50px 90px;
	pointer-events: none;

	@include mq('xlarge') {
		padding: 40px;
	}

	@include mq('medium') {
		padding: 15px;
	}

	&--fixed {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: z('footer-fixed');

		@media (max-height: 559px) {
			display: none;
		}

	}

}

/* FOOTER COPYRIGHT
-------------------------------------------- */

.ptf-footer-copyright {
	font-size: 16px;
	text-align: right;
	pointer-events: auto;

	p {
		margin-bottom: 0;
	}

}